body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
}
.subhead {
  margin: 100px 0 50px;
  font-size: 1.8em;
}
.subtitle {
  font-size: 1.3 em;
  margin-bottom: 30px;
}

/* -------------------------------------------- */
/* NAV SEC */
.top {
  background-color: white;
  position: sticky;
  top: 0;
}
.nav {
  padding: 10px 270px;
  margin: 0 auto;
}
.top_menu {
  padding: 10px 0;
}
.menu_items {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: inline-block;
}
.menu_items_list {
  font-weight: 200;
  display: inline-block;
}
.menu_item {
  display: inline-block;
  margin: 0 20px;
  font-size: 0.9em;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 10px 20px;
    width: 100%;
    max-width: 540px;
  }
  .top_menu {
    padding: 10px 0;
  }
  .menu_items {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: inline-block;
  }
  .menu_item {
    display: none;
    margin: 0 20px;
    font-size: 0.9em;
  }
}
/* -------------------------------------------- */
/* MAIN SEC */
.main {
  background-color: blanchedalmond;
}
.about,
.profile,
.resume,
.project {
  padding: 0 270px;
  margin: 0 auto;
}
.heading {
  background-color: bisque;
  height: 50vh;
}
.heading > h1,
h2 {
  background-color: aquamarine;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .main {
    background-color: rgb(16, 235, 184);
  }
  .about,
  .profile,
  .resume,
  .project {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 540px;
  }
  .heading {
    background-color: bisque;
    height: 50vh;
  }
  .heading > h1,
  h2 {
    background-color: aquamarine;
    text-align: center;
    width: 500px;
    margin: 0 auto;
  }
}
/* -------------------------------------------- */
.about {
  background-color: coral;
}
.about_hook {
  margin-bottom: 50px;
}
.about_text {
  margin-bottom: 50px;
}
.about_icon {
  background-color: cadetblue;
}
.about_icon_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.about_icon_item {
  background-color: yellow;
  display: inline-block;
  width: 200px;
  height: 200px;
}
/* -------------------------------------------- */
/* SKILL LEVEL */
.skill_level_bar {
  background-color: turquoise;
  display: inline-block;
  margin: 20px 0;
  width: 100%;
}
.skill_name {
  margin-bottom: 10px;
}
.skill {
  background-color: blue;
}
.blank {
  background-color: #ededed;
  display: inline-block;
  width: 19%;
  height: 5px;
  border-radius: 5px;
}
/* PROFILE SEC */

.profile {
  background-color: cornflowerblue;
}
.skill_contents {
  background-color: tomato;
}
.profile_skill {
  display: flex;
  justify-content: space-between;
}
.col1,
.col2 {
  display: inline-block;
  width: 48%;
}
.col1 {
  background-color: red;
}
.col2 {
  background-color: green;
}

.dev {
  margin-top: 50px;
}

/* EDU */
.edu_contents {
  background-color: tomato;
  margin-top: 100px;
}
.subEduTitle {
  display: flex;
  justify-content: space-between;
}
.edu_title,
.award_title {
  display: inline-block;
  width: 48%;
  float: left;
}

.extra_profile_info {
  display: flex;
  justify-content: space-between;
}
.edu_year,
.award_year {
  background-color: darkturquoise;
  display: inline-block;
  width: 100px;
  margin-right: 40px;
  float: left;
}
.edu_content,
.award_content {
  background-color: greenyellow;
  display: inline-block;
}
.edu_item,
.award_item {
  margin: 40px 0;
}
/* -------------------------------------------- */
/* RESUME SEC */
.resume {
  background-color: violet;
}
.resume_contents {
  background-color: wheat;
  width: 100%;
}
.resume_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.company_info {
  background-color: brown;
  width: 20%;
  display: inline-block;
}
.company_works_contents {
  background-color: yellow;
  width: 70%;
  display: inline-block;
}
/* -------------------------------------------- */
/* PROJECT SEC */

.project {
  background-color: teal;
}
.project_item {
  background-color: springgreen;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.project_item_contents {
  background-color: violet;
  display: inline-block;
  width: 30%;
  height: 400px;
}
.project_item_img {
  background-color: blue;
  width: 100%;
  height: 180px;
}
.project_item_description {
  background-color: yellow;
  height: calc(100% - 220px);
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .project {
    background-color: red;
    width: 100%;
    padding: 0;
  }
  .project_item {
    background-color: blue;
    display: block;
    margin: 0;
  }
  .project_item_contents {
    background-color: yellow;
    display: block;
    margin: 35px auto;
    width: 100%;
    max-width: 540px;
  }
  .project_item_img {
    background-color: pink;
  }
  .project_item_description {
    background-color: green;
  }
}
/* -------------------------------------------- */
/* FOOTER SEC */
.footer {
  background-color: #18191a;
  height: 100vh;
}
.footer > p {
  color: wheat;
}
