body {
  font-family: 'Montserrat', sans-serif;
}
.profile,
.resume,
.project,
.footer {
  padding: 10px 20px;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 660px;
  }
}
@media screen and (min-width: 992px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 920px;
  }
}
@media screen and (min-width: 1200px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 1140px;
  }
}
.container {
  background-color: rgb(244, 244, 244);
}
h2 {
  font-size: 1.8em;
  margin: 50px 0 25px;
  letter-spacing: 10px;
}
h3 {
  font-size: 0.9em;
  margin: 0 0 60px;
  letter-spacing: 5px;
  color: gray;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  line-height: 1.5em;
}
h5 {
  font-size: 1.4em;
  margin: 10px 0 20px 0;
}
p {
  line-height: 35px;
}
span {
  color: #bbbbbb;
  display: inline-block;
  margin-bottom: 10px;
}
hr {
  margin: 50px 0;
  border: 0;
  border-top: 1px solid #eee;
}
.col1,
.col2 {
  display: inline-block;
  width: 48%;
}
/* .col1 {
  background-color: red;
}
.col2 {
  background-color: green;
} */
.small_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-size: 15px;
  margin-bottom: -2px;
  background-repeat: no-repeat;
}
/* -------------------------------------------- */
/* NAV SEC */
.top {
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px #9999;
  z-index: 999;
}
.nav {
  padding: 0 20px;
  margin: 0 auto;
}
.menu_items {
  display: flex;
  justify-content: space-between;
  line-height: calc(60px - 2px);
}
.logo {
  display: inline-block;
}
.menu_items_list {
  font-weight: 200;
  display: flex;
}
.menu_item {
  display: inline-block;
  margin: 0 20px;
  font-size: 0.9em;
}
.menu_items_list > li.active {
  border-bottom: 3px solid rgb(255, 114, 89);
}
.menu-wrapper {
  position: relative;
  top: 0;
  margin-top: 3px;
  cursor: pointer;
}
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 25px;
  height: 2px;
}
.hamburger-menu {
  position: relative;
  transform: translateY(25px);
  background: black;
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
.hamburger-menu:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  background: black;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu:after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background: black;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (max-width: 767px) {
  .menu_item {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu_item {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .menu-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-wrapper {
    display: none;
  }
}
/* -------------------------------------------- */
/* PROFILE SEC */
.about_contents {
  margin-bottom: 100px;
}
.about_hook {
  margin-bottom: 50px;
}
.about_text {
  margin-bottom: 50px;
}

.about_icon_items {
  display: flex;
  justify-content: space-between;
}
.about_icon_item {
  display: inline-block;
  width: 155px;
  padding: 35px;
  /* min-height: 130px;
  line-height: 20px; */
  min-height: 135px;
  border-radius: 5px;
  border: 1px solid lightsalmon;
}
.about_icon_item > p {
  line-height: 25px;
}
.skill_icon {
  background-size: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.ux_icon {
  background-image: url(../src/icon/ux.png);
}
.dev_icon {
  background-image: url(../src/icon/dev.png);
}
.typo_icon {
  background-image: url(../src/icon/typo.png);
}
.photo_icon {
  background-image: url(../src/icon/photo.png);
}
.profile_skill {
  display: flex;
  justify-content: space-between;
}
.dev {
  margin-top: 50px;
}
/* SKILL LEVEL */
.skill_level_bar {
  width: 100%;
  margin-bottom: 80px;
}
.skill_name {
  margin-bottom: 20px;
}
.skill {
  font-size: 0;
}
.blank {
  background-color: #ededed;
  display: inline-block;
  margin-right: 5px;
  width: calc(20% - 4px);
  height: 5px;
  border-radius: 5px;
}
.blank:nth-child(5) {
  margin-right: 0;
}
.skill_colored {
  background-color: rgb(255, 114, 89);
  display: inline-block;
  margin-right: 5px;
  width: calc(20% - 4px);
  height: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .about_icon_items {
    display: inline-block;
  }
  .about_icon_item {
    width: 30%;
  }
  .about_icon_item:nth-child(2n) {
    float: right;
  }
  .about_icon_item:nth-child(-n + 2) {
    margin-bottom: 7%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about_icon_items {
    display: inline;
  }
  .about_icon_item {
    width: 38%;
  }
  .about_icon_item:nth-child(2n) {
    float: right;
  }
  .about_icon_item:nth-child(-n + 2) {
    margin-bottom: 15px;
  }
}
/* -------------------------------------------- */
/* EDU/AWARD */
.edu_contents {
  margin-top: 100px;
}
.extra_profile_info {
  display: flex;
  justify-content: space-between;
}
.edu_year,
.award_year {
  display: block;
}
.edu_content,
.award_content {
  display: inline-block;
}
.edu_item,
.award_item {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .extra_profile_info {
    display: block;
  }
  .col_mobile {
    width: 100%;
    margin-bottom: 100px;
  }
  .edu_content,
  .award_content,
  .edu_year,
  .award_year {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .edu_year,
  .award_year {
    /* display: inline-block; */
    width: 140px;
    margin-right: 40px;
    margin: 5px 0 10px 0;
    float: left;
  }
}
/* -------------------------------------------- */
/* RESUME SEC */
.resume_contents {
  width: 100%;
}
.resume_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.company_info {
  width: 20%;
  display: inline-block;
  margin-bottom: 30px;
}
.job_location {
  background-image: url(/src/icon/location-2.png);
}
.job_date {
  background-image: url(/src/icon/calendar.png);
}

.company_works_contents {
  width: 70%;
  display: inline-block;
}
.job_description {
  color: #bbbbbb;
}
@media screen and (max-width: 767px) {
  .resume_item {
    display: block;
  }
  .company_info {
    width: 100%;
  }
  .company_works_contents {
    width: 100%;
  }
}
/* -------------------------------------------- */
/* PROJECT SEC */
.project_item {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 60px;
  font-size: 0;
}
.project_item_contents {
  display: inline-block;
  width: 30%;
  height: 400px;
  margin: 0 auto 35px;
  font-size: 16px;
  cursor: pointer;
}
.project_item_contents:hover {
  box-shadow: 0px -1px 30px #a4a4a4;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
}
.project_item_img {
  background-color: gray;
  width: 100%;
  height: 180px;
  border-radius: 5px 5px 0 0;
}
.project_item_description {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 220px);
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 767px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    width: 320px;
  }
  .project_item_contents:nth-child(even) {
    float: right;
  }
}
@media screen and (min-width: 992px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    width: 450px;
  }
  .project_item_contents:nth-child(even) {
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  .project_item_contents {
    width: 350px;
    margin-right: 45px;
  }
  .project_item_contents:nth-child(even) {
    float: none;
  }
  .project_item_contents:nth-child(3n) {
    margin-right: 0;
  }
}
/* -------------------------------------------- */
/* FOOTER SEC */
#contact {
  background-color: #18191a;
}
.footer {
  min-height: 900px;
}
.contact_header > h2 {
  color: white;
}
.contact_info {
  display: flex;
  justify-content: space-between;
}
.location_icon {
  background-image: url(/src/icon/location.png);
}
.phone_icon {
  background-image: url(/src/icon/phone.png);
}
.email_icon {
  background-image: url(/src/icon/email.png);
}
.github_icon {
  background-image: url(/src/icon/github.png);
}
.linkedin_icon {
  background-image: url(/src/icon/linkedin.png);
}
.web_icon {
  background-image: url(/src/icon/web.png);
}
address > p,
address > a {
  color: white;
  line-height: 50px;
  display: inline-block;
}
address > a:hover {
  color: rgb(255, 114, 89);
}
.contact_message {
  font-size: 0;
}
.message {
  /* width: calc(100% - 6px); */
  padding: 20px;
  border: 0;
  width: calc(100% - 40px);
  border-radius: 5px;
}
.message_name,
.message_email {
  height: auto;
  margin-bottom: 10px;
}
.message_main {
  height: 200px;
}
.send_button {
  background-color: rgb(255, 114, 89);
  height: 50px;
  width: 100px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
}
input,
textarea {
  font-size: 16px;
}
.send_button:hover {
  color: white;
}

/* Carousel */
.carousel {
  /* position: relative; */
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.carousel-control.prev {
  left: 2%;
}
.carousel-control.next {
  right: 2%;
}
.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.carousel-bullet:hover {
  color: #aaaaaa;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #428bca;
}
#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}
