body {
  font-family: 'Montserrat', sans-serif;
}
.profile,
.resume,
.project,
.footer {
  padding: 10px 20px;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 660px;
  }
}
@media screen and (min-width: 992px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 920px;
  }
}
@media screen and (min-width: 1200px) {
  .nav,
  .profile,
  .resume,
  .project,
  .footer {
    max-width: 1140px;
  }
}

h2 {
  font-size: 1.8em;
  margin: 50px 0 25px;
  letter-spacing: 10px;
}
h3 {
  font-size: 0.9em;
  margin: 0 0 60px;
  letter-spacing: 5px;
  color: gray;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  line-height: 1.5em;
}
h5 {
  font-size: 1.4em;
  margin: 10px 0 20px 0;
}
p {
  line-height: 35px;
}
hr {
  margin: 50px 0;
  border: 0;
  border-top: 1px solid #eee;
}
.col1,
.col2 {
  display: inline-block;
  width: 48%;
}
/* .col1 {
  background-color: red;
}
.col2 {
  background-color: green;
} */

/* -------------------------------------------- */
/* NAV SEC */
.top {
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px #9999;
  z-index: 999;
}
.nav {
  padding: 0 20px;
  margin: 0 auto;
}
.menu_items {
  display: flex;
  justify-content: space-between;
  line-height: calc(60px - 2px);
}
.logo {
  display: inline-block;
}
.menu_items_list {
  font-weight: 200;
  display: flex;
}
.menu_item {
  display: inline-block;
  margin: 0 20px;
  font-size: 0.9em;
}
.menu_items_list > li.active {
  border-bottom: 3px solid red;
}

/* MENU ICON */
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a:hover {
  color: tomato;
}
#menuToggle {
  display: inline-block;
  /* position: relative; */
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;

  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -35px 0 0 -395px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: none;
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (max-width: 767px) {
  .menu_item {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu_item {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .menu_icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu_icon {
    display: none;
  }
}

/* -------------------------------------------- */
/* MAIN SEC */

.heading {
  background-color: bisque;
  height: 100vh;
}
.greeting {
  top: 45%;
  position: absolute;
  width: 100%;
}
.greeting > h1,
.greeting > p {
  background-color: aquamarine;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/* -------------------------------------------- */
/* PROFILE SEC */
.about_contents {
  margin-bottom: 100px;
}
.about_hook {
  margin-bottom: 50px;
}
.about_text {
  margin-bottom: 50px;
}

.about_icon_items {
  display: flex;
  justify-content: space-between;
}
.about_icon_item {
  display: inline-block;
  width: 155px;
  padding: 35px;
  /* min-height: 130px;
  line-height: 20px; */
  border-radius: 5px;
  border: 1px solid lightsalmon;
}
.about_icon_item > p {
  line-height: 25px;
}
.skill_icon {
  background-size: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.ux_icon {
  background-image: url(../src/icon/ux.png);
}
.dev_icon {
  background-image: url(../src/icon/dev.png);
}
.typo_icon {
  background-image: url(../src/icon/typo.png);
}
.photo_icon {
  background-image: url(../src/icon/photo.png);
}
.profile_skill {
  display: flex;
  justify-content: space-between;
}
.dev {
  margin-top: 50px;
}
/* SKILL LEVEL */
.skill_level_bar {
  width: 100%;
  margin-bottom: 80px;
}
.skill_name {
  margin-bottom: 20px;
}
.skill {
  font-size: 0;
}
.blank {
  background-color: #ededed;
  display: inline-block;
  margin-right: 5px;
  width: calc(20% - 4px);
  height: 5px;
  border-radius: 5px;
}
.blank:nth-child(5) {
  margin-right: 0;
}
.skill_colored {
  background-color: red;
  display: inline-block;
  margin-right: 5px;
  width: calc(20% - 4px);
  height: 5px;
  border-radius: 5px;
}
/* @media screen and (max-width: 767px) {
  .about_icon_items {
    display: inline-block;
  }
  .about_icon_item {
    max-width: 500px;
    float: left;
    width: 100px;
    min-height: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about_icon_items {
    display: inline-block;
  }
  .about_icon_item {
    max-width: 500px;
    float: left;
    width: 190px;
    min-height: 150px;
  }
} */
/* -------------------------------------------- */
/* EDU/AWARD */
.edu_contents {
  margin-top: 100px;
}
.extra_profile_info {
  display: flex;
  justify-content: space-between;
}
.edu_year,
.award_year {
  display: inline-block;
  width: 140px;
  margin-right: 40px;
  margin: 5px 0 10px 0;
  /* float: left; */
}
.edu_content,
.award_content {
  display: inline-block;
}
.edu_item,
.award_item {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .extra_profile_info {
    display: block;
  }
  .col_mobile {
    width: 100%;
  }
  .edu_content,
  .award_content,
  .edu_year,
  .award_year {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .edu_year,
  .award_year {
    float: left;
  }
}
/* -------------------------------------------- */
/* RESUME SEC */
.resume_contents {
  width: 100%;
}
.resume_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.company_info {
  width: 20%;
  display: inline-block;
  margin-bottom: 30px;
}
.company_works_contents {
  width: 70%;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .resume_item {
    display: block;
  }
  .company_info {
    width: 100%;
  }
  .company_works_contents {
    width: 100%;
  }
}
/* -------------------------------------------- */
/* PROJECT SEC */
.project_item {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 60px;
  font-size: 0;
}
.project_item_contents {
  display: inline-block;
  width: 30%;
  height: 400px;
  margin: 0 auto 35px;
  font-size: 16px;
  cursor: pointer;
}
.project_item_contents:hover {
  box-shadow: 0px -1px 30px #838c8d;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
}
.project_item_img {
  background-color: gray;
  width: 100%;
  height: 180px;
  border-radius: 5px 5px 0 0;
}
.project_item_description {
  background-color: lightgray;
  height: calc(100% - 220px);
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 767px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    width: 320px;
  }
  .project_item_contents:nth-child(even) {
    float: right;
  }
}
@media screen and (min-width: 992px) {
  .project_item {
    display: block;
  }
  .project_item_contents {
    width: 450px;
  }
  .project_item_contents:nth-child(even) {
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  .project_item_contents {
    width: 350px;
    margin-right: 45px;
  }
  .project_item_contents:nth-child(even) {
    float: none;
  }
  .project_item_contents:nth-child(3n) {
    margin-right: 0;
  }
}
/* -------------------------------------------- */
/* FOOTER SEC */
#contact {
  background-color: #18191a;
}
.footer {
  height: calc(100vh - 55px);
}
.contact_header > h2 {
  color: white;
}
.contact_info {
  display: flex;
  justify-content: space-between;
}
address > p,
address > a {
  color: white;
  line-height: 50px;
}
.message {
  /* width: calc(100% - 6px); */
  padding: 20px;
  border: 0;
  width: 100%;
  border-radius: 5px;
}
.message_name,
.message_email {
  height: auto;
  margin-bottom: 10px;
}
.message_main {
  height: 200px;
}
